/*********************** Funções */

@import '../scss/functions';

/*********************** Variáveis principais*/

@import '../scss/variables';

/*********************** Sobrescrever os estilos principais */

body { color: lighten($cor-principal, 20%);; background-color: $cor-principal }

.nav_title { background: $cor-principal; }

.left_col { background: $cor-principal; }

.nav.side-menu>li.active>a 
{
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    background: linear-gradient(#334556, $cor-principal),#2A3F54;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.16) 0 1px 0;
}

.nav.side-menu>li.current-page, .nav.side-menu>li.active 
{
    border-right: 5px solid $cor-secundaria;
}

.nav-md ul.nav.child_menu li:before 
{
    background: $cor-secundaria;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}

.nav-md ul.nav.child_menu li:after 
{
    border-left: 1px solid $cor-secundaria;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

.toggle a i {
    color: $cor-principal;
}

.nav.side-menu>li.active>a 
{
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    background: linear-gradient(#52368a, $cor-principal),#2A3F54;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.16) 0 1px 0;
}

.btn-info 
{
    color: #fff;
    background-color: lighten($cor-principal, 30%);
    border-color: $cor-principal;
}

.btn-info:hover 
{
    color: #fff;
    background-color: tint(lighten($cor-principal, 30%), 20%);
    border-color: $cor-principal;
}

.btn-info:active,
.btn-info:focus
{
    @extend .btn-info;
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover 
{
    color: #fff;
    background-color: shade(lighten($cor-principal, 30%), 20%);
    border-color: $cor-principal;
}

.btn-success, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover 
{
    background: #d8c08e;
    border: 1px solid $cor-secundaria;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background: #e6d4ad;
    border-color: #cebe9e;
}

.brasao-topo
{
    width: 47px;
}

.bg-padrao
{
    background: lighten($cor-principal, 30%) !important;
    border: 1px solid $cor-principal !important;
    color: #fff;
}

.flot-x-axis .flot-tick-label.tickLabel {
    margin-left: -80px;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid $cor-secundaria;
}

.nav-sm ul.nav.child_menu
{
    background-color: $cor-principal;
}

/*********************** Imagem de Loading */

#img-loading 
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;
    display: none;
}

/************************** Mensagem de nenhum carro encontrado*/

div.vazio,
div.inicial
{
	text-align: center;
	margin-top: 150px;
	display: none;
}

div.inicial { display: block; }

/**************************** Ajustes no menu lateral */

.profile_info 
{
    padding: 25px 10px 10px;
    width: 100%;
    float: left;
    text-align: center;
}

/***************************** Linha de Botões de cada resultado da busca principal*/

.x_panel .content.botoes
{
	margin-top: 130px;
}

.x_panel.home
{
    min-height: 500px;
}

/****************************** Menu Superior*/

.nav.btn-novo-carro
{
	margin-top: 15px;
	margin-right: 10px;
	float: right;
}

.nav.side-menu > li > a { margin-bottom: 0; }

/* Menu Hamburguer */

.toggle { padding: 16px 0; }

ul.msg_list .time { right: 55px !important; }
.bold { font-weight: bold; }

/****************************** Currículo - Index */

.curriculo-index span.image i
{
    -webkit-border-radius: 2px 2px 2px 2px;
    float: left;
    margin-right: 25px;
    width: 11%;
}

button.btn-cadastrar-curriculo
{
    float: right;
    margin: 12px 20px 12px 0;
}

/****************************** Currículo - Create */

span.required { color: red; }

form button.btn-success 
{
    margin: 0 auto;
    display: block;
}

form.edit button.btn-success 
{
    margin: -5px 0 0 0;
    display: inline;
}

/****************************** Currículo - Edit */

a.btn-editar,
a.btn-excluir,
a.btn-ver
{
    padding: 0 3px;
}

.btn-restaurar {
    font-size: 13px;
    padding: 1px 6px;
}

a.site_title { height: auto; text-align: center; }
a.site_title img { width: 70%; }

div.profile { margin-top: 90px; }
div#sidebar-menu { margin-top: -30px; }

/*div.left_col { min-height: 730px !important; }*/
div#logo-rodape 
{  
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

div.logo-login
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: -100px;
}

